@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.nf-icon {
    font-family: "Symbols Nerd Font Mono";
    font-size: 1.2em;
    line-height: 1;
}

@keyframes flash-outline {
  0%, 100% {
    outline: 3px solid transparent;
    outline-offset: 0;
  }
  50% {
    outline: 3px solid rgb(59 130 246 / 0.9); /* strong blue */
    outline-offset: 3px; /* makes it pop */
  }
}

.flash-animation {
  animation: flash-outline 0.8s ease-in-out 2;
}
